root{
    --primary: #F6F2DF;
    --secondary: #00283D;
    --firstAccent: #D93030;
    --secondAccent: #FF931F;
}

.App {
    text-align: center;

}

.body{

}

#background{
    z-index: 5;
    position: fixed;
}

#foreground{
    margin-top: auto;
    margin-bottom: 50px;
    transform-origin: 0;
    transform: translateZ(3px) scale(0.625);
}







body{
    background-color: var(--primary);
    /*overflow: hidden; THIS DISABLES SCROLLING*/
}
