.headerBlock{
    background-color: var(--secondary);
    color: var(--secondAccent);
    width: 100%;
    font-size: 4vw;
    margin-top: -4.5%;
    font-family: montserrat, sans-serif;
}

.bold{
    font-weight: 999;
    color: var(--firstAccent);
}